@import "~bootstrap";

body {
    font-family: spartan;
    color: #444;
}

:root {
    --violet-color:rgb(68, 2, 122);
    --orange-color:rgb(223, 153, 4);
}

.jumbotron-img {
    background: var(--violet-color);
    background: linear-gradient(302deg, var(--violet-color), var(--orange-color));
    color: #fff;
}

.jumbotron-random-dreamer {
    background: var(--violet-color);
    background: linear-gradient(302deg, var(--orange-color), var(--violet-color));
    color: #fff;
    height:80px;
}

.q-container {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #efefee;
}

.q-container-show {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: var(--violet-color) ;
}

.q-container img, .q-container-show img {
    border: 2px solid #fff;
    border-radius: 50%;
}

.q-display {
    background: #fff;
    border-radius: .25rem;
}
.q-title-show {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff;
}
.q-title {
    text-transform: uppercase;
    color: #444;
}

.q-title:hover {
    color: #2B2B2B;
}

.q-title h2 {
    font-size: 1.3rem;
}

.q-display-response {
    background: #333D51;
    color: #fff;
}

.answer-link:hover .magic-wand {
  transform: rotate(20deg);
}

.vote-arrows {
    font-size: 1.5rem;
}

.vote-arrows span {
    font-size: 1rem;
}

.vote-arrows a {
    color: var(--violet-color);
}

.vote-up:hover {
    color: #3D9970;
}
.vote-down:hover {
    color: #FF4136;
}

.btn-question {
  color: #FFFFFF;
  background-color: var(--orange-color);
  border-color: var(--orange-color);
}

.btn-question:hover,
.btn-question:focus,
.btn-question:active,
.btn-question.active,
.open .dropdown-toggle.btn-question {
  color: #FFFFFF;
  background-color: var(--orange-color);
  border-color: var(--orange-color);
}

.btn-question:active,
.btn-question.active,
.open .dropdown-toggle.btn-question {
  background-image: none;
}

.btn-question.disabled,
.btn-question[disabled],
fieldset[disabled] .btn-question,
.btn-question.disabled:hover,
.btn-question[disabled]:hover,
fieldset[disabled] .btn-question:hover,
.btn-question.disabled:focus,
.btn-question[disabled]:focus,
fieldset[disabled] .btn-question:focus,
.btn-question.disabled:active,
.btn-question[disabled]:active,
fieldset[disabled] .btn-question:active,
.btn-question.disabled.active,
.btn-question[disabled].active,
fieldset[disabled] .btn-question.active {
  background-color: var(--orange-color);
  border-color: var(--orange-color);
}

.btn-question .badge {
  color: var(--orange-color);
  background-color: #FFFFFF;
}

.btn-dream-made {
    color: #FFFFFF;
    background-color: var(--violet-color);
    border-color: var(--violet-color);
}

.btn-dream-made:hover,
.btn-dream-made:focus,
.btn-dream-made:active,
.btn-dream-made.active,
.open .dropdown-toggle.btn-question {
color: #FFFFFF;
background-color: var(--violet-color);
border-color: var(--violet-color);
}

.btn-dream-made:active,
.btn-dream-made.active,
.open .dropdown-toggle.btn-dream-made {
background-image: none;
}

.btn-dream-made.disabled,
.btn-dream-made[disabled],
fieldset[disabled] .btn-dream-made,
.btn-dream-made.disabled:hover,
.btn-dream-made[disabled]:hover,
fieldset[disabled] .btn-dream-made:hover,
.btn-dream-made.disabled:focus,
.btn-dream-made[disabled]:focus,
fieldset[disabled] .btn-dream-made:focus,
.btn-dream-made.disabled:active,
.btn-dream-made[disabled]:active,
fieldset[disabled] .btn-dream-made:active,
.btn-dream-made.disabled.active,
.btn-dream-made[disabled].active,
fieldset[disabled] .btn-dream-made.active {
background-color: var(--violet-color);
border-color: var(--violet-color);
}

.btn-dream-made .badge {
color: var(--violet-color);
background-color: #FFFFFF;
}

footer {
    background-color: #efefee;
}